@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

.main-header {
  width: 100vw;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.inside-header {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-heading {
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
}

.somaiya-logo {
  width: 5rem;
}
