* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100vw;
  height: 100vh;
  max-height: fit-content;
  background-image: linear-gradient(to bottom, #282828d2, #282828f6),
    url("https://news.mit.edu/sites/default/files/styles/news_article__image_gallery/public/images/202203/face-600x900.png?itok=4wm2x8C2");
  background-size: cover;
  background-position: center;
  font-family: "Quicksand", sans-serif;
}
